@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: rgb(var(--foreground-rgb));
    background-color: var(--color-primary);
    @apply bg-primary;
}

@font-face {
  font-family: 'RobotInvaders';
  src: url('/fonts/RobotInvaders.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #E8E1D4;
  color: #D66161;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #E8E1D4;
}

::-webkit-scrollbar-thumb {
  background: #D66161;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 54, 54);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}